<body>
  <footer>
    <div class="copyright">        
      © Copyright 2024
    </div>
    <div class="icons">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
  </footer>
</body>