<header>
  <!-- Top nav bar (fixed) -->
  <nav>
    <section class="nav-content" > 
      <div class="nav-items"> 
        <a id="about" href="/about">About</a>
        <a id="menu" href="/menu">Menu</a>
        <a id="reviews" href="/reviews">Reviews</a>
        <a id="contact" href="/contact">Contact</a>
      </div>

      <div class="nav-brand">
        <i class="fa-solid fa-burger"></i>
        <a class="nav-logo" href="/">BURGER JOINT </a>
      </div>  
    
    <div>
      <i class="fa-solid fa-cart-shopping"></i>
      <button class='sign-in' type="submit"> Sign-In </button>
    </div>
  </section>

  <section class="search-content">
    <h1 class="title"> Ignite Your Cravings </h1>
    <form id="search" method="" action="">
      <input name="text" id="search-text" placeholder="Search Item...">
    </form>
  </section>
</nav>
</header>