<!DOCTYPE html>
<html lang="en">

<head>
  <title>Orders</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- App CSS -->
  <link rel="stylesheet" type="text/css" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" type="text/css" href="/vendor/border-box.css" />
  <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  <link rel="stylesheet" type="text/css" href="/styles/layout.css" />
  <link rel="stylesheet" type="text/css" href="/public/styles/orders/footer.css" />
  <link rel="stylesheet" type="text/css" href="/public/styles/orders/header.css" />
  <link rel="stylesheet" type="text/css" href="/public/styles/orders/main.css" />
  <link rel="stylesheet" type="text/css" href="/public/styles/orders/nav.css" />

  <!-- App JS -->
  <script src="/public/vendor/jquery-3.0.0.js"></script>
  <script defer src="/public/scripts/orders_page.js"></script>

</head>

<body>
  <!-- Top Nav Bar -->
    <nav>
      <div class="pages">about</div>
      <div class="pages">menu</div>
      <div class="pages">reviews</div>
      <div class="pages">contact</div>
      <span class="title">Burger Joint</span>
      <div class="sign_in">signed in as: Chef</div>
    </nav>

  <!-- Header -->
    <header class="header">
      <button type="button" class="btn btn-primary position-relative">Orders</button>
      <button type="button" class="btn btn-secondary">Fulfilled</button>
    </header>

    <main class="container">
        <form class="search_bar">
          <div>
            <textarea
              name="text"
              class="text-line"
              id="search"
              type="text"
              placeholder="Search"
            ></textarea>
          </div>

          <div>
            <button type="button" class="btn btn-outline-success">Accept</button>
            <button type="button" class="btn btn-outline-danger">Decline</button>
          </div>

        </form>
      <section id="footer"></section>
    </main>


</body>

</html>
