/* nav bar --> done by Ralph*/


@mixin align-nav{
  display:flex;
  justify-content: space-between;
}

nav{
  height: 600px;
  width: 100%;
  background-color: #F2BEBE;
  color: #000000;
}

a{
  text-decoration: none;
  color: black;
}

.nav-content {
  @include align-nav();

  #about, #menu, #reviews, #contact{
    padding: 0 1.5em; /* top-bottom, left-right*/
  }

  .nav-items, .nav-brand{
    margin: 1.5em 0; /* top-bottom, left-right*/
  }

  .nav-brand {
    margin-top: 30px;
    margin-right: 400px;
    font-size: 1.2em;
  }

  .sign-in, .sign-out {
    margin: 10px 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    font-size: 0.7em;
    width: 100px;
  }
  .sign-in:hover{
    background-color: #BEE6F2;
    cursor: pointer;
  }
  i{
    cursor:pointer;
  }
}

.search-content{
  display: flex;
  flex-direction: column;
  align-items: center;

  .title{
    font-family: "Inter", sans-serif;
    font-weight: 300;
  }
  #search-text{
    width: 50vw;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
  }
}