table, th, td {
  border:1px solid black;
  text-align: center;
  // margin-top: 50px;
}

th, td {
  padding: 15px 100px;
}
.chef-orders-title {
  display:flex;
  justify-content: center;
}

.chef-orders-table{
  display:flex;
  justify-content: center;
}