// See: https://sass-lang.com/

body,
html {
  margin: 0;
  font-size: 24px;
  font-family: "Inter", sans-serif;

  //footer
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
