body, html {
  font-family: Arial, sans-serif;
  background-color: rgb(231, 231, 222);
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(134, 165, 179);
  box-shadow: 0 0 25px 10px rgb(92, 157, 185);
 
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 40px;
  padding-right:40px;
  
 
}

.user-name {
  background-color: #2e1b50; 
  color: #ffffff; 
  border: none;
  padding: 10px 20px; 
  border-radius: 25px; 
  font-size: 16px; 
  font-weight: bold;   
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: larger;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}



.logo img {
  height: 40px;
}


.order-summary {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

.order-summary h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.order-items {
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
}

.summary-cart {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  border-bottom: 1px solid black;
}

.order-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.order-item img {
  height: 100px;
}

.total-box {
  display: flex;
  margin-left: 100px;
  margin-top: 50px;
}

.foot {
  display:flex;
  align-items: center;  
  justify-content:space-between;
  margin-left: 100px; 
  margin-right: 100px; 
}